body {
    background: powderblue;
}

.header {
    color: tomato;
}

.contact {
    text-align: center;
}

.social {
    border-radius: 50%;
    padding: 12px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.fa-envelope {
    background: grey;
}

.fa-twitter {
    background: #4099ff;
}

.fa-youtube {
    background: #c4302b;
}

.quote {
    color: limegreen;
}
