body {
    background: lightsteelblue;
}

.first {
    font-weight: bold;
    font-style: italic;
}

.header {
    color: midnightblue;
}

.contact {
    text-align: center;
}

.fa {
    border-radius: 50%;
    padding: 12px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.fa-envelope {
    background: grey;
}

.fa-linkedin {
    background: #2867b2;
}

.fa-instagram {
    background: #c13584;
}

.fa-twitter {
    background: #4099ff;
}

.fa-youtube {
    background: #c4302b;
}
